apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: bord
servers: 1
ports:
  - port: 8080:80
    nodeFilters:
      - loadbalancer
    ## k3d traefik's port is fixed to port 80 so:
    ## - retart `svclb-traefik` pod if an app is defined on port 80 inside k8s and LB method is used in app's service
    ## - otherwise use traefik with an ingress service to reach the app by a localhost:8080/path    
  - port: 8081:8081
    nodeFilters:
      - loadbalancer
registries:
  configFile: .k3d/registries.yaml
  create:
    name: k3d-bord-registry
    host: 0.0.0.0
    hostPort: "5000"